.Login {
     width: 1200px;
     margin: auto;
     text-align: left;
     margin-top: 70px;
     margin-bottom: 100px;
     width: 93%;
     border: 1px solid #d2d2d2;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Login > h1 {
     color: #f79850;
     margin-bottom: 40px;
     margin-left: 10px;
     font-weight: bold;
     font-size: 21px;
}

.Login label {
     margin-bottom: 10px;
     margin-left: 12px;
}

.Logininput {
     width: 800px;
     font-size: 18px;
     margin-bottom: 15px;
     height: 40px;
     margin-left: 12px;
     border: 1px solid #d2d2d2;
}
.inputsubmit {
     background: #f7941d;
     width: 800px;
     color: white;
     font-size: 18px;
     height: 40px;
     margin-left: 12px;
     border-radius: 8px;
     cursor: pointer;
}

.forget {
     margin: 10px 350px;
     margin-bottom: -10px;
}

.Loginlink {
     margin: 10px 300px;
}

.forget {
     margin: 10px 350px;
     margin-bottom: -10px;
}

.Loginlink {
     margin: 10px 300px;
}
@media (max-width: 900px) {
     .Login {
          width: 93%;
     }
     .Logininput {
          width: 400px;
          font-size: 17px;
          margin-bottom: 15px;
          height: 30px;
     }

     .inputsubmit {
          width: 400px;
          color: white;
          font-size: 17px;
          height: 30px;
     }
     .Logininput {
          width: 250px;
          font-size: 14px;
          margin-bottom: 15px;
          height: 25px;
     }
     .Login label {
          font-size: 14px;
     }
     .inputsubmit {
          width: 250px;
          color: white;
          font-size: 14px;
          height: 25px;
     }
     .Loginlink {
          margin: 10px 20px;
          font-size: 12px;
     }
     .forget {
          margin: 10px 70px;
          margin-bottom: -20px;
          font-size: 13px;
     }
}
